body {
   position: relative;
   padding-bottom: 50px;
   min-height:100vh;
}

#karta {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  min-height:100vh;
  min-width: 100vh;
  background-color: black;
}
.voronoys-block {
    position: relative;
    display: table;
    width: 290px;
    height: 110px;
    margin-bottom: 10px;
    font-weight: 700;
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s;
}

.div2 {
    margin-left: 60px;
}

h3.naslov{
  margin-left: 20px;
}

.voronoys-block h4.name {
  text-transform: uppercase;
  color: #fff;
}

.voronoys-block p.tekst{
  color: #fff;
  font-weight: 500;
}

#footer {
  position:absolute;
   text-align:center;
   bottom:0;
   width:100%;
   height:50px;
   padding: 10px;
   color:white;
   background-color: rgba(233,84,32,1);
}
#graf_1 {
  padding-top: 10%;
}

#graf_3{
  padding-right: 2%;
  padding-left: 2%;
}

#model_box{
  padding-top: 1%;
  padding-right: 2%;
  padding-left: 2%;
}

#karta {
 width: 100%;
 height: 100%;
}

.box_model {
  position: relative;
  border-style: solid;
  border-color: grey;
  border-radius: 7px;
  border-width: 1px;
  display: flex;
  align-items: center;
  transition: box-shadow .4s;
}

#range_input {
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.div3 {
  margin-left: 50px;
  margin-right: 30px;
}

.opcenito_naslov {
  margin-top: 10px; 
  margin-left: auto;
  
}

.opcenito {
  display: block;
  position: relative;
  border-style: solid;
  border-color: #E6E6E6;
  border-radius: 7px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.simptomi {
  display: block;
  position: relative;
  border-style: solid;
  border-color: #E6E6E6;
  border-radius: 7px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.prevencija {
  display: block;
  position: relative;
  border-style: solid;
  border-color: #E6E6E6;
  border-radius: 7px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.aplikacija {
  display: block;
  position: relative;
  border-style: solid;
  border-color: #E6E6E6;
  border-radius: 7px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.aplikacija1 {
  display: block;
  position: relative;
  border-style: solid;
  border-color: #E6E6E6;
  border-radius: 7px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 30px;
}
